@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: rgb(25,11,46);
    border-bottom: 1px solid white;
}

.navbar h2{
    font-size: 24px;
    font-weight: 700;
}

.nav-links ul{
    display: flex;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}

.nav-links ul li{
    margin: 0 15px;
}

.nav-links ul li a:hover{
    text-decoration:underline ;
}

#nav-btn{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 40px;
}

#nav-btn:hover{
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("../assets/hero-bg.png") no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mic-bg{
    position: absolute;
    width: 420px;
    height: auto;
    top: 125px;
    right: 739px;
    z-index: 1;
}

.mic-icon{
    position: absolute;
    width: 150px;
    height: auto;
    top: 210px;
    right: 868px;
    z-index: 2;
}

.banner-content{
    margin-top: 400px;
    position: relative;
    z-index: 3;
    text-align: center;
    color: white;
    max-width: 800px;
    padding: 0 20px;
}

.banner-content h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-content p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.btn-group{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.spotify-btn{
    padding: 12px 20px;
    border-radius: 40px;
    cursor: pointer;
}

.subscribe-btn{
    background-color: transparent;
    border: 2px solid #00FF88;
    color: #00FF88;
    padding: 12px 20px;
    border-radius: 40px;
    cursor: pointer;
}

/* About Podcast Section */

.about-podcast{
    background-color:rgb(25,11,46);
}

.about-podcast-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-podcast-content h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.about-podcast-content p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;   
    color: white;
    max-width: 1200px;
}

.about-detail-2nd{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
}

.about-statistics-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: white;
    margin-right: 200px;
    margin-left: 200px;
}

.about-statistics-items div h2{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}

.about-statistics-items div p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 120px;
}

.why-techwave{
    background-color:rgba(35, 14, 61, 1);
    padding-top: 120px;
    padding-bottom: 120px;
}

.why-techwave-items{
    margin: 40px 200px 0 200px;
}

.tech-first-items{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.why-techwave-items-1{
    grid-row: span 2;
}

.tech-second-items{
    display: flex;
    flex-direction: column;
}

.why-techwave-items-1 , .why-techwave-items-2, .why-techwave-items-3, .why-techwave-items-4, .why-techwave-items-5{
    background: rgba(53, 17, 101, 0.4);
    margin: 10px;
    padding: 20px;
    border-radius: 16px;
}

.tech-third-items{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.why-techwave-items-1, .why-techwave-items-2, .why-techwave-items-3, .why-techwave-items-4, .why-techwave-items-5{
    padding: 40px;
}

.why-techwave-items-1 img{
    padding-top: 107px;
    margin-bottom: 16px;
}
.why-techwave-items-1 h3{ 
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.why-techwave-items-1 p{
    font-size: 16px;
    font-weight: 400;
    width: 300px;
}


.why-techwave-items-2 img , .why-techwave-items-3 img, .why-techwave-items-4 img, .why-techwave-items-5 img{
    margin-top: 40px;
    margin-bottom: 16px;
}

.why-techwave-items-2 h3, .why-techwave-items-3 h3, .why-techwave-items-4 h3, .why-techwave-items-5 h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.why-techwave-items-2 p, .why-techwave-items-3 p, .why-techwave-items-4 p, .why-techwave-items-5 p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    max-width: 710px;
}

/* Featured Episodes Section */
.featured-episodes{
    background-color: rgba(26, 11, 46, 1);
    padding-top: 120px;
    padding-bottom: 120px;
}

.featured-cards{
    margin: 40px 200px 0 200px;
    display: flex;
    gap: 30px;
    justify-content: center;

}

.featured-card{
    max-width: 380px;
    background: rgba(37, 13, 68, 1);
    border-radius: 16px;
    padding-bottom: 20px;
}

.featured-card iframe{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 24px;
}

.featured-card h3, 
.featured-card p, 
.featured-card span {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 12px;
}

/* Host */

.meet-the-host{
    background: rgba(26, 11, 46, 1);
    padding: 120px;
}

.host-profile{
    display: flex;
    background: rgba(53, 17, 101, 0.4);
    margin: 40px 200px 0 200px;
    align-items: center;
    border-radius: 20px;
}

.host-bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 24px;
}

.host-bio h2{
    text-align: left;
}

.host-bio p{
    max-width: 896px;
}

.host-img{
    padding: 40px 0 40px 40px;
}

.hosts-links{
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.hosts-links a{
    padding: 15px;
     margin-right: 8px;
     border: 1px solid rgba(83, 60, 114, 1);
     border-radius: 40px;
}

.footer-section{
    background: url("../assets/hero-bg.png") no-repeat center center / cover;
    height: 412px;
    width: 100%;
    padding-top: 200px;
}



/* ------------------------------- Responsive Styles ------------------------------- */

/* Mobile Devices */

@media (max-width: 576px) {
    .nav-links{
        display: none;
    }
    #nav-btn{
        display: none;
    }

    .about-statistics-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}


}