@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: rgb(25,11,46);
    border-bottom: 1px solid white;
}

.navbar h2{
    font-size: 24px;
    font-weight: 700;
}

.nav-links ul{
    display: flex;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}

.nav-links ul li{
    margin: 0 15px;
}

.nav-links ul li a:hover{
    text-decoration:underline ;
}

#nav-btn{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 40px;
}

#nav-btn:hover{
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("../assets/hero-bg.png") no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mic-bg{
    position: absolute;
    width: 420px;
    height: auto;
    top: 125px;
    right: 739px;
    z-index: 1;
}

.mic-icon{
    position: absolute;
    width: 150px;
    height: auto;
    top: 210px;
    right: 868px;
    z-index: 2;
}

.banner-content{
    margin-top: 400px;
    position: relative;
    z-index: 3;
    text-align: center;
    color: white;
    max-width: 800px;
    padding: 0 20px;
}

.banner-content h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-content p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.btn-group{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}


.spotify-btn{
    padding: 12px 20px;
    border-radius: 40px;
    cursor: pointer;
}

.subscribe-btn{
    background-color: transparent;
    border: 2px solid #00FF88;
    color: #00FF88;
    padding: 12px 20px;
    border-radius: 40px;
    cursor: pointer;
}

/* ------------------------------- Responsive Styles ------------------------------- */

/* Mobile Devices */

@media (max-width: 576px) {
    .nav-links{
        display: none;
    }
    #nav-btn{
        display: none;
    }


}